@font-face {
    font-family: 'Firago';
    src: url('../fonts/firago-latin-100-normal.woff2') format('woff2'),
         url('../fonts/firago-latin-100-normal.woff') format('woff');
 }





*{
        Xborder:1px solid red;
        box-sizing: border-box;
        font-family: firago;

}

body{
    width:1920px;
    overflow-x: hidden;
}


.fs-34{
    font-size:34px;
}

.fw-medium{
    font-family: 'Firago';
    font-weight:500;
}
.p{
    font-size:16px;
}
.fs-20{
    font-size:20px;
}
.fs-12{
    font-size:12px;
}
.fs-15{
    font-size:15px;
}
.ml-10{
    margin-left:10px;
}






/* colors */
.bg-purple{
    background-color: #8338EC;
}
.border-purple{
    border:1px solid #8338EC;
}
.custom-shadow{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bg-pink{
    background-color: #FF006E;
}
.border-pink{
    border:1px solid #FF006E;
}
.bg-blue{
    background-color:#3A86FF ;
}
.border-blue{
    border:1px solid #3A86FF;
}



/* end of colors */



/* buttons */

.purple-btn{
    background-color: #8338EC;
    color:white;
}
.white-btn{
    background-color: white;
    color:black;
    border:1px solid #8338EC;
}
.btn:focus{
    color:#8338EC;
}
/* end of buttons */

#header, section{
    
    padding: 30px 120px;
}
.logo{
    width:210px;
    height:38px;
}

.modal-dialog {
    --bs-modal-width: 913px; 
   
}
  
.modal-content{
    width:913px;
    height:766px;
    padding:40px 50px 60px 50px;
}

.border-dashed{
    border:1px dashed #CED4DA;
}
  
.custom-dropdown {
    width: 300px;
}
/* i know overriding bootstrap styles via !important aint the best practise and still, that worked :d  */
.custom-dropdown .dropdown-menu {
    position: absolute !important; 
    top: 50px !important;  
    left: 0px !important;
    width: 688px; 
    transform: none !important; 
    border:1px solid #8338EC;
}

.dropdown-item input[type="checkbox"] {
    margin-right: 10px;
}
.sort-box{
    position:relative;
}


.card{
    width: 381px;
    height:217px;   
}
.card-content{
    height:217px;
    width:381px;
}




/* ====================== */
/* Priority buttons */
/* ====================== */
.priority-box{
    width:86px;
    height:26px;
    padding:3px;
    border-radius:6px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.priority-high{
    color:#FB5607;
    border:1px solid #FB5607;
    
}
.priority-medium{
    color:#F7BC30;
    border:1px solid #F7BC30;
}
.priority-low{
    color:#08A508;
    border:1px solid #08A508;
}

/* ====================== */
/* end of priority buttons */
/* ====================== */



/* ====================== */
/* Department buttons */
/* ====================== */
.department-design, .department-marketing, .department-it, .department-logistics{
    color:white;
    border-radius: 15px;
}
.department-design{
    background-color:#FF66A8;
}
.department-marketing{
    background-color:#FD9A6A ;
}
.department-logistics{
    background-color:#89B6FF ;
}
.department-it{
    background-color: #FFD86D;
}

/* ====================== */
/* end of Department buttons */
/* ====================== */

.bg-yellow{
    background-color: #F7BC30;
}

.border-yellow{
    border:1px solid #F7BC30;
}
.text-yellow{
    color:#F7BC30;
}





.avatarIMG  {
    width:31px;
    height:31px;
    object-fit: cover;
    border-radius: 50%;
}


.text-orange{
    color:#FB5607;
}
.bg-orange{
    background-color: #FB5607;
}
.border-orange{
    border:1px solid #FB5607;
}

